<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
	<div class="container">
		<h2>Login</h2>
		<form method="POST">
			{{ login_form.email.label }}
			{{ login_form.email() }}
			{{ login_form.email.errors }} <br>

			{{ login_form.password.label }}
			{{ login_form.password() }}
			{{ login_form.password.errors }} <br>

			{{ login_form.remember_me.label }}
			{{ login_form.remember_me() }} <br>

			{{ login_form.submit() }}
		</form>
	</div>
	<script src="../static/js/login.js"></script>
</body>
</html>