<!DOCTYPE html>
<html>
<head>
	<title>Password Reset Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/pwd_reset.css">
</head>
<body>
	<div class="container">
		<h2>Password Reset</h2>
		<form method="POST">
			{{ pwd_reset_form.new_password.label }}
			{{ pwd_reset_form.new_password() }}
			{{ pwd_reset_form.new_password.errors }} <br>

			{{ pwd_reset_form.confirm_password.label }}
			{{ pwd_reset_form.confirm_password() }}
			{{ pwd_reset_form.confirm_password.errors }} <br>

			{{ pwd_reset_form.submit() }}
		</form>
	</div>
	<script src="../static/js/pwd_reset.js"></script>
</body>
</html>