<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('auth_blueprint.static', filename='css/signup.css') }}">
</head>
<body>
	<div class="container">
		<h2>Sign Up</h2>
			<form method="POST" action="">
				{{ signup_form.hidden_tag() }}
				{{ signup_form.username }}
				{{ signup_form.email }}
				{{ signup_form.password }}
				{{ signup_form.confirm_password }}
				{{ signup_form.submit }}
			</form>
	</div>
	<script type="text/javascript" src="{{ url_for('auth_blueprint.static', filename='js/signup.js') }}"></script>
</body>
</html>
