<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
</head>
<body>
	<div class="container">
		<h2>Sign Up</h2>
		<form method="POST">
			{{ signup_form.username.label }}
			{{ signup_form.username() }}
			{{ signup_form.username.errors }} <br>

			{{ signup_form.email.label }}
			{{ signup_form.email() }}
			{{ signup_form.email.errors}} <br>

			{{ signup_form.password.label }}
			{{ signup_form.password() }}
			{{ signup_form.password.errors }} <br>

			{{ signup_form.confirm_password.label }}
			{{ signup_form.confirm_password() }}
			{{ signup_form.confirm_password.errors }} <br>
 
			{{ signup_form.submit() }}
		</form>
	</div>
	<script src="../static/js/signup.js"></script>
</body>
</html>