<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
</head>
<body>
	<div class="container">
		<h2>Sign Up</h2>
		<form>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>
			<label for="confirm-password">Confirm Password:</label>
			<input type="password" id="confirm-password" name="confirm-password" required>
			<input type="submit" value="Sign Up">
		</form>
		<div>
			<form action="{{ url_for('auth_blueprint.login') }}" method="get" style="display: inline-block; margin-right: 10px;">
				<button class="btn" type="submit">Back to Login</button>
			</form>			
			<form action="{{ url_for('auth_blueprint.forgot_pwd') }}" method="get" style="display: inline-block;">
				<button class="btn" type="submit">Forgot Password</button>
			</form>		
		</div>
	</div>
	<script src="../static/js/signup.js"></script>
</body>
</html>